---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="CryptoTracker - Terms of Service">
  <section class="flex items-center justify-between py-14">
    <div>
      <h1 class="text-2xl/6 font-medium tracking-tighter">CryptoTracker</h1>
      <p class="text-neutral-500">Terms of Service</p>
    </div>
    <img
      src="/img/logos/cryptotracker.png"
      alt="CryptoTracker logo"
      class="size-14"
    />
  </section>
  <ol class="grid gap-4 normal-case text-neutral-400">
    <li>
      <strong>Introduction</strong>
      <p>
        These Terms and Conditions govern your use of the CryptoTracker
        (&quot;Bot&quot;) for Discord (&quot;Service&quot;). By accessing or
        using the Service, you agree to be bound by these Terms. If you disagree
        with any part of these Terms, then you may not access or use the
        Service.
      </p>
    </li>

    <li>
      <strong>Definitions</strong>
      <p>
        &quot;You&quot; means the individual accessing or using the Service, or
        the company, or other legal entity on behalf of which such individual is
        accessing or using the Service.
      </p>
    </li>

    <li>
      <strong>Privacy</strong>
      <p>
        Your use of the Service is subject to our Privacy Policy, which informs
        you about our data collection, use, and disclosure practices.
      </p>
    </li>

    <li>
      <strong>Service Provision</strong>
      <p>
        The Service is provided &quot;as is&quot; and &quot;as available,&quot;
        without any warranties of any kind, either express or implied.
      </p>
    </li>

    <li>
      <strong>User Conduct</strong>
      <p>
        You may not use the Service in any way that is unlawful, harmful,
        threatening, abusive, harassing, tortious, defamatory, vulgar, obscene,
        libelous, invasive of another&apos;s privacy, hateful, or otherwise
        objectionable.
      </p>
    </li>

    <li>
      <strong>Limitation of Liability</strong>
      <p>
        In no event shall the author, Andre Lew, be liable for any indirect,
        incidental, special, consequential or punitive damages, including
        without limitation, loss of profits, data, use, goodwill, or other
        intangible losses, resulting from your access to or use of or inability
        to access or use the Service.
      </p>
    </li>

    <li>
      <strong>Termination</strong>
      <p>
        We may terminate or suspend your access to the Service immediately,
        without prior notice or liability, under our sole discretion, for any
        reason whatsoever and without limitation.
      </p>
    </li>

    <li>
      <strong>Changes to Terms</strong>
      <p>
        We reserve the right, at our sole discretion, to modify or replace these
        Terms at any time.
      </p>
    </li>

    <li>
      <strong>Governing Law</strong>
      <p>
        These Terms shall be governed and construed in accordance with the laws
        of the United States of America, without regard to its conflict of law
        provisions.
      </p>
    </li>

    <li>
      <strong>Contact Us</strong>
      <p>
        If you have any questions about these Terms, please contact us at
        cryptotracker@aelew.com.
      </p>
    </li>
  </ol>
</BaseLayout>
