<section class="flex items-center justify-between py-14">
  <div>
    <h1 class="text-2xl/6 font-medium tracking-tighter">
      This page is under construction
    </h1>
    <p class="text-neutral-500">Please check back later!</p>
  </div>
</section>
