---
import avatarImage from '@/images/avatar.png';
import { Image } from 'astro:assets';

const links = [{ label: 'Home', path: '/' }];
---

<header
  class="sticky top-0 z-50 bg-neutral-950 backdrop-blur supports-[backdrop-filter]:bg-neutral-950/50"
>
  <div
    class="container flex h-14 items-center justify-between border-b border-neutral-700/50"
  >
    <a
      class="flex items-center gap-2.5 transition-all hover:opacity-80 active:scale-95"
      href="/"
    >
      <Image
        class="shrink-0 rounded-full"
        src={avatarImage}
        draggable="false"
        loading="eager"
        height={32}
        width={32}
        alt=""
      />
      <span class="text-xl font-medium tracking-tighter">aelew</span>
    </a>
    <!-- <nav role="navigation">
      <ul class="flex flex-row gap-2 text-sm text-neutral-400">
        {
          links.map((link) => (
            <li>
              <a
                href={link.path}
                class:list={[
                  'rounded-md px-2 py-1.5',
                  Astro.url.pathname === link.path
                    ? 'bg-neutral-800/75 text-neutral-200'
                    : 'transition-colors hover:bg-neutral-800/75'
                ]}
              >
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav> -->
  </div>
</header>
